button {
  display: inline-block;
  color: red;
}
h1 {
  color: rgb(25, 25, 155);
}
form {
  margin-top: 10px;
}
.all-current-info {
  margin-left: 20px;
  margin-top: 55px;
}
.card {
  margin: 40px auto 0 auto;
  max-width: 800px;
}
.card-body {
  background: rgb(150, 189, 233);
  border: 5px solid rgb(11, 33, 58);
  border-radius: 4px;
}
.city-search {
  margin-right: 10px;
}
.day {
  font-weight: bold;
}
.emoji {
  font-size: 30px;
}
.future-days {
  text-align: right;
}
.future-day {
  margin-bottom: 10px;
  margin-right: 20px;
}
.mb-3 {
  display: inline;
}
.signoff-link {
  text-align: center;
  margin-top: 10px;
}
.toggle-degrees {
  color: rgb(25, 25, 155);
  font-weight: light;
  transition: all 150ms ease-in-out;
}
.toggle-degrees:hover {
  cursor: pointer;
  color: blue;
}
